# Ignore Python virtual environment
.venv/
env/
new_env/

# Ignore libraries
lib/

# Ignore IDE configurations
.vscode/
.idea/

# Ignore __pycache__ files
__pycache__/
*.pyc
*.pyo

# Ignore OS files
.DS_Store
Thumbs.db
test_venv/
venv_2/
python run_pipelineV2.py \                                                                                                  ─╯
  --loop 42 43 \
  --outcome Ab_krupitskyA_2011 \
  --col is_inpatient \
  --samp 50 \
  --dir logs/inpatient_test